@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

.header-container{
    /* background-color: rgb(76, 205, 238); */
    background-image: url('../img/backheader.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.header-container h2{
    font-family: 'Lobster', cursive;
    font-size:36px;
    color:white;
}

button {
    padding: 10px 15px;
}

nav{
    text-align: center;
}
.menu{
    display: inline-block;
}
.menu > li{
    float: left;
    color: #ffffff;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0);
    cursor: pointer;
    font-size: 17px;
}
.sub-menu{
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
}
.sub-menu li{
    font-size: 14px;
    background: rgba(0,0,0, 0.6);
    padding: 8px 0;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
}
.sub-menu li:last-child{
    border-bottom: 0;
}
.sub-menu li:hover{
    background: rgba(0, 0, 0, 0.8);
}
.menu > li:hover .sub-menu li{
    transform: scale(1);
}
.menu > li:hover .sub-menu{
    transform: scale(1);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor:pointer;
}



/* NOTIFS */
#notification_container {
    position: fixed;
    z-index: 300;
    pointer-events: none;
    top: 40px;
    right: 25px;
    width: 250px;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

#notification_container .content {
    box-shadow: 0 1px 5px 0 #8d8d8db0;
    background: rgb(150, 53, 53);
    padding: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    color: white;
}

#notification_container .content_notif_correct {
    box-shadow: 0 1px 5px 0 #8d8d8db0;
    background: rgb(55, 134, 47);
    padding: 8px;
    border-radius: 4px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    color: white;
}


#notification_container .content p, .content2 p {
    margin: auto;
    margin-left: 10px;
    font-weight: 600;
    font-size: 20px;
}